$note-minwidth: 300px;
$note-maxwidth: 800px;
$border-thickness: 0.8vw;

:root {
    text-size-adjust: 100%;
}

::before,
*,
::after {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Itim', cursive;
    background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    height: 100%;
    overflow: hidden;
}

#main {
    background-color: white;
    height: 100%;
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

#appContainer {
    width: 100vw;
    height: 100vh;
}

.noteEnterContainer {
    z-index: 10;
    position: absolute;
    bottom: 4vh;
    left: 4vh;
    border-radius: $border-thickness;
    box-shadow: 6px 6px #777;

    :first-child {
        border-right: 3px solid black;
        border-radius: $border-thickness 0 0 $border-thickness;
    }

    :last-child {
        border-left: 3px solid black;
        border-radius: 0 $border-thickness $border-thickness 0;
    }

    * {
        font-family: 'Itim', cursive;
        font-size: 30px;
        background-color: white;
        padding: 30px;
        border: 6px solid black;
    }

    :focus {
        outline: none;
        border-color: #555;
    }
}

.loginoutButton {
    z-index: 10;
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    border-radius: $border-thickness;
    box-shadow: 3px 3px #777;
    font-family: 'Itim', cursive;
    font-size: 30px;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    transform-origin: bottom right;
    transition: transform 0.1s linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 10000000px;
    }
}

.loginoutButton:hover {
    transform: scale(1.05);
}

#notesContainer {
    position: absolute;
}

@keyframes trash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate(110vw, 110vh) rotate(270deg);
    }
}

@keyframes spawn {
    from {

        transform: translate(-10vw, 110vh) rotate(270deg);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.note {
    min-width: $note-minwidth;
    max-width: $note-maxwidth;
    position: absolute;
    padding: 30px;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    border: 8px solid black;
    background-color: white;
    box-shadow: 0.5rem 0.5rem #555;
    animation: spawn ease-in-out 0.5s;

    button {
        border: none;
        background: none;
    }

}

.note.hidden {
    animation: trash 1s ease-in-out;
}

.noteHeader {
    display: flex;
    align-items: center;
    flex-direction: flex-start;
    margin-bottom: 10px;

    * {
        margin-right: 10px;
    }
}

.noteTitle {
    font-size: 40px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.noteButton {
    font-size: 35px;
    cursor: pointer;
    transition: transform 0.1s linear;
    user-select: none;
}

.noteButton:hover {
    transform: scale(1.2) rotate(0.01turn);
}

.dragButton {
    margin-left: auto;
}

.noteContent {
    font-size: 25px;
    overflow-x: hidden;

    textarea {
        min-width: $note-minwidth;
        max-width: 100%;
        height: 200px;
        font-size: inherit;
        font-family: inherit;
        border-radius: 10px;
        padding: 10px;
        background-color: #fefefe;
    }
}

// .logo {
//   background-image: url('img/mm25.jpg');
//   width: 100px;
//   height: 100px;
//   background-repeat: no-repeat;
//   background-size: contain;
//   border-radius:100%;
//   margin:10px;
//   margin-left: auto;
//   margin-right: auto;
// }